body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: white;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #151212;
    border-radius: 5px;
}
.options {
    text-align: right;
    margin-bottom: 10px;
}
.forgot-password {
    text-decoration: none;
    color: rgb(190, 30, 218);
    font-size: 14px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(93, 229, 229);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.login-container button:hover {
    background-color: rgb(221, 98, 228);
}

.signup {
    margin-top: 10px;
}
.signup a {
    text-decoration: none;
    color: rgb(236, 98, 144);
}